<app-dashboard-title [weather]="weatherData"></app-dashboard-title>
<div class="input-weather card">
	<h2 class="title">Search For a City</h2>
	<input type="text" (input)="searchQuery=$event.target.value">
	<button (click)="getLocation()">Submit</button>
	<span>{{ searchError }}</span>
</div>
<div class="basic-stats">
	<app-temperature *ngIf="weatherData" [weather]="weatherData"></app-temperature>
	<app-current-weather *ngIf="weatherData" [weather]="weatherData"></app-current-weather>
	<app-sundown *ngIf="weatherData" [weather]="weatherData"></app-sundown>
</div>
<div *ngIf="weatherData" class="six-day-forecast card">
	<h2 class="title">
		{{ chartTitle }}
	</h2>
	<div id="chartContainer" [chart]="weatherChart"></div>
</div>