@import '~variables.sass';

.basic-stats
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: $gutterSize 0;

.input-weather.card
	margin: $gutterSize 0;
	padding: calc(#{$gutterSize} * 2);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	.title
		width: 100%;
	input
		height: 35px;
		padding: 0 15px;
		flex: 1 1 100%;
		font-size: 16px;
	button
		flex: 0 1 auto;
		align-self: center;
		margin: $gutterSize auto 0;
		@include buttonStyle
		height: 35px;
		padding: 0 calc(#{$gutterSize} * 2);

.six-day-forecast.card
	padding: calc(#{$gutterSize} * 2);

#chartContainer
	width: 100%;
	height: 600px;