@import '~variables.sass';
\:host
	flex: 1 1 33.333%;
	padding-left: $gutterSize;
	@media screen and (max-width: $portrait)
		flex: 1 1 100%;
		padding-left: 0;

.card
	padding: $gutterSize calc(#{$gutterSize} * 2);
	.result
		text-align: center;