/* You can add global styles to this file, and also import other style files */
@import "~variables.sass";

*
	box-sizing: border-box;

html, body
	background-color: $backgroundColor;
	font-family: $fontFamily;

body
	padding: $gutterSize;

h1 
	margin: 0;

.card 
	background-color: $cardBackgroundColor;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(204,204,204,1);
	box-shadow: 0px 2px 5px 0px rgba(204,204,204,1);
	.title
		text-align: center;