$backgroundColor: #efefef;
$cardBackgroundColor: #fff;
$brandColor1: #3e4ab4;
$fontFamily: 'Lato', "Helvetica", Sans-serif;
$gutterSize: 15px;

$mobile: 600px;
$portrait: 800px;
$landscape: 1024px;
$desktop: 1280px;

//Buttons
@mixin buttonStyle 
	font-family: $fontFamily;
	font-size: 14px;
	font-weight: 700;
	background-color: $brandColor1;
	color: white;
	border: 0;
	cursor: pointer;
	transition: 0.3s;
	&:hover 
		background-color: darken($brandColor1, 15%);