//https://github.com/angular/angular-cli/issues/4010 <-- O.o
@import '~variables.sass';
\:host
	flex: 1 1 33.333%;
	padding-right: $gutterSize;
	@media screen and (max-width: $portrait)
		flex: 1 1 100%;
		padding-right: 0;

.card
	padding: $gutterSize calc(#{$gutterSize} * 2);
	.result
		text-align: center;