@import '~variables.sass';
\:host
	flex: 1 1 33.333%;
	padding: 0 $gutterSize;
	@media screen and (max-width: $portrait)
		flex: 1 1 100%;
		padding: 0 0;

.card
	padding: $gutterSize calc(#{$gutterSize} * 2);
	.result
		text-align: center;